<div class="home pb-32">
    <header class="flex md:pt-14 p-4 pt-14 md:p-24">
        <img src="../../assets/images/logo.svg"/>
        <img src="../../assets/images/icon-menu.svg" width="70px" height="70px" class="ml-auto p-2"/>
    </header>    

    <!-- hero -->
    <div class="hero md:-mt-40 md:flex p-4 md:p-24 md:pb-0">
        <div class="firstPost md:w-10/12 md:-mt-[600px]">
            <h3></h3>
            <img src="../../assets/images/image-web-3-mobile.jpg" class="md:invisible"/>
            <img src="../../assets/images/image-web-3-desktop.jpg" class= "invisible md:visible"/>
            <div class="title mb-24 md:flex">
                <h1 class="text-6xl font-bold capitalize -mt-44 md:mt-4 ">The Bright future of Web 3.0?</h1>
                <div class="md:ml-16">
                <p class="mt-4 text-gray-500 ">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     Dolorem cum eum distinctio alias. Suscipit eum molestias fugiat 
                     exercitationem, nam sed ducimus.
                     Alias repellendus rerum numquam pariatur amet quae ab repellat!
                    </p>
                    <button class="uppercase mt-6 border p-2 pl-6 pr-6 tracking-widest font-semibold text-white hover:bg-black">read more</button>
                </div>
                </div>
        </div>

        <!-- sidebar -->
        <div class="sidebar border p-6 text-white md:ml-8 md:h-4/6 md:w-96">
            <p class="news-title text-2xl font-bold  ">News</p>
            <ul class="mt-8 space-y-4">
                <li *ngFor="let side of sideBarDetails" class="py-4 border-t divide-slate-400">
                  <app-sidebar [side]="side"></app-sidebar>
                </li>
              </ul>

        </div>
    </div>
    <div class="article-list md:pt-0 mt-16 mb-8  md:grid md:grid-cols-3 md:p-24 p-4">


        <!-- Passing in the Blog Details Component -->
        <ng-container *ngFor='let blog of blogList'>
            <app-blog-details [blog]="blog" />
        </ng-container>
       
    </div>
</div>
