<div class="home pb-32">
    <header class="flex md:pt-14 p-4 pt-14 md:p-24">
        <img src="../../assets/images/logo.svg"/>
        <img src="../../assets/images/icon-menu.svg" width="70px" height="70px" class="ml-auto p-2"/>
    </header>    
    <div class="hero md:-mt-40 md:flex p-4 md:p-24 md:pb-0">
        <div class="firstPost md:w-10/12 md:-mt-[600px]">
            <img src="../../assets/images/image-web-3-mobile.jpg" class="md:invisible"/>
            <img src="../../assets/images/image-web-3-desktop.jpg" class= "invisible md:visible"/>
            <div class="title mb-24 md:flex">
                <h1 class="text-6xl font-bold capitalize -mt-44 md:mt-4 ">The Bright future of Web 3.0?</h1>
                <div class="md:ml-16">
                <p class="mt-4 text-gray-500 ">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     Dolorem cum eum distinctio alias. Suscipit eum molestias fugiat 
                     exercitationem, nam sed ducimus.
                     Alias repellendus rerum numquam pariatur amet quae ab repellat!
                    </p>
                    <button class="uppercase mt-6 border p-2 pl-6 pr-6 tracking-widest font-semibold text-white hover:bg-black">read more</button>
                </div>
                </div>
        </div>
        <div class="sidebar border p-6 text-white md:ml-8 md:h-4/6 md:w-96">
            <p class="news-title text-2xl font-bold  ">News</p>
            <ul class="mt-8 divide-y divide-slate-500">
                <li>
                    <p class="font-bold text-2xl mb-2 mt-4">Hydrogen Vs Electric Cars</p>
                    <p class="text-gray-400 mb-7">Lorem ipsum dolor sit amet consectetur, 
                        adipisicing elit. Pariatur eaque dolor nemo?</p>
                </li>
                <li>
                    <p class="font-bold text-2xl mb-2 mt-7">The downsides of AI artistry</p>
                    <p class="text-gray-400 mb-7">Lorem ipsum dolor sit amet consectetur, 
                        adipisicing elit. Pariatur eaque dolor nemo?</p>
                </li>
                <li>
                    <p class="font-bold text-2xl mb-2 mt-7">Is VC funding drying up?</p>
                    <p class="text-gray-400 mb-7">Lorem ipsum dolor sit amet consectetur, 
                        adipisicing elit. Pariatur eaque dolor nemo?</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="article-list md:pt-0 mt-16 mb-24  md:flex md:p-24 p-4">
        <div class="item flex mb-8">
            <img src="../../assets/images/image-retro-pcs.jpg" width="140px"/>
            <div class="item-desc ml-8">
                <p class="font-bold text-5xl text-gray-300">01</p>
                <br/>
                <a href="" class="capitalize mt-3 mb-3 font-bold text-xl text-blue-950 hover:text-orange-400">Reviving retro PCs</a>
                <br/>
                <br/>
                <p class="text-gray-500">Lorem ipsum dolor sit amet,
                consectetur adipisicing elit. Voluptatum veritatis magni natus.</p>
            </div>
        </div>
        <div class="item flex mb-8">
            <img src="../../assets/images/image-top-laptops.jpg" width="140px"/>
            <div class="item-desc ml-8">
                <p class="font-bold text-5xl text-gray-300">02</p> <br/>
                <a href="goo.com" class="capitalize font-bold text-xl text-blue-950 hover:text-orange-400">Top 10 laptops of 2022</a>
                <br/>
                <br/>
                <p class="text-gray-500">Lorem ipsum dolor sit amet,
                consectetur adipisicing elit. Voluptatum veritatis magni natus.</p>
            </div>
        </div>
        <div class="item flex mb-8">
            <img src="../../assets/images/image-gaming-growth.jpg" width="140px"/>
            <div class="item-desc ml-8">
                <p class="font-bold text-5xl text-gray-300">03</p>
                <br/>
                <a href="" class="capitalize mt-3 mb-3 font-bold text-xl text-blue-950 hover:text-orange-400">the growth of gaming</a>
                <br/>
                <br/>
                <p class="text-gray-500">Lorem ipsum dolor sit amet,
                consectetur adipisicing elit. Voluptatum veritatis magni natus.</p>
            </div>
        </div>
    </div>
</div>
